<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mingle.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
				<key>dateExpires</key>
				<string>1/31/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>10.21.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>7.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>5.18.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5E9B1FBB59BA8571F8FC7E85AD17718A3E87138</string>
						<key>dateExpires</key>
						<string>1/31/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LPUW5AZU9U</string>
						<key>name</key>
						<string>Hyeonwoo Jung</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LPUW5AZU9U.com.TeamMingle.mingle</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LPUW5AZU9U</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>47173fc3-8345-4cd2-a90e-fce6ff02985a</string>
				<key>dateExpires</key>
				<string>2/20/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LPUW5AZU9U</string>
				<key>name</key>
				<string>Hyeonwoo Jung</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1.2</string>
		</dict>
	</array>
</dict>
</plist>
