<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9oTxfFMmXQh7Bw0OIyL86Sj-Kjfq0hNk</string>
	<key>GCM_SENDER_ID</key>
	<string>998172981772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MingleGlobal.mingle</string>
	<key>PROJECT_ID</key>
	<string>mingle-20ac5</string>
	<key>STORAGE_BUCKET</key>
	<string>mingle-20ac5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998172981772:ios:f069fb2b9b4c8a33b58c29</string>
</dict>
</plist>